apiVersion: v1
kind: Service
metadata:
  name: macos-svc
  namespace: {{ .Release.Namespace }}
spec:
  internalTrafficPolicy: Cluster
  ports:
    - name: http
      port: 8006
      protocol: TCP
      targetPort: 8006
    - name: vnc
      port: 5900
      protocol: TCP
      targetPort: 5900
  selector:
    app: macos
  type: ClusterIP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: macos
  namespace: {{ .Release.Namespace}}
  labels:
    name: macos
spec:
  replicas: 1
  selector:
    matchLabels:
      app: macos
  template:
    metadata:
      labels:
        app: macos
    spec:
      containers:
        - name: macos
          image: beclab/dockurr-macos:2.29-ext
          env:
            - name: VERSION
              value: "$(CDN_HOST)/{{ .Values.olaresEnv.VERSION }}"
            - name: DISK_SIZE
              value: "{{ .Values.olaresEnv.DISK_SIZE }}"
          ports:
            - containerPort: 8006
              name: http
              protocol: TCP
            - containerPort: 5900
              name: vnc
              protocol: TCP
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
            privileged: true
          volumeMounts:
            - mountPath: /storage
              name: storage
            - mountPath: /dev/kvm
              name: dev-kvm
            - mountPath: /dev/net/tun
              name: dev-tun
          resources:
            requests:
              cpu: 4000m
              memory: 6Gi
            limits:
              cpu: 12000m
              memory: 24Gi
      terminationGracePeriodSeconds: 120
      volumes:
        - hostPath:
            path: '{{ .Values.userspace.appCache }}'
            type: DirectoryOrCreate
          name: storage
        - hostPath:
            path: /dev/kvm
          name: dev-kvm
        - hostPath:
            path: /dev/net/tun
            type: CharDevice
          name: dev-tun