apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: magicpig
  name: magicpig
  namespace: '{{ .Release.Namespace }}'
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: magicpig
  template:
    metadata:
      labels:
        io.kompose.network/chrome-default: "true"
        io.kompose.service: magicpig
    spec:
      containers:
      - env:
        - name: PGID
          value: "1000"
        - name: PUID
          value: "1000"
        - name: TZ
          value: Etc/UTC
        - name: VERIFIABLE_CREDENTIAL
          value: "{{ .Values.olaresEnv.VERIFIABLE_CREDENTIAL }}"          
        image: kldtks/payment-demo:v0.1.0
        name: magicpig
        ports:
        - containerPort: 80
        resources:
          limits:
            cpu: 500m
            memory: 500Mi
          requests:
            cpu: 500m
            memory: 500Mi
      restartPolicy: Always
status: {}

---
apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: magicpig
  name: magicpig
  namespace: '{{ .Release.Namespace }}'
spec:
  ports:
  - name: "magicpig"
    port: 80
    targetPort: 80
  selector:
    io.kompose.service: magicpig
